<h1>Listing cheerup_votes</h1>

<table>
  <tr>
    <th>Cheerup</th>
    <th>User</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cheerup_votes.each do |cheerup_vote| %>
  <tr>
    <td><%= cheerup_vote.cheerup_id %></td>
    <td><%= cheerup_vote.user_id %></td>
    <td><%= cheerup_vote.value %></td>
    <td><%= link_to 'Show', cheerup_vote %></td>
    <td><%= link_to 'Edit', edit_cheerup_vote_path(cheerup_vote) %></td>
    <td><%= link_to 'Destroy', cheerup_vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cheerup vote', new_cheerup_vote_path %>
