<p id="notice"><%= notice %></p>

<p>
  <b>Cheerup:</b>
  <%= @cheerup_vote.cheerup_id %>
</p>

<p>
  <b>User:</b>
  <%= @cheerup_vote.user_id %>
</p>

<p>
  <b>Value:</b>
  <%= @cheerup_vote.value %>
</p>


<%= link_to 'Edit', edit_cheerup_vote_path(@cheerup_vote) %> |
<%= link_to 'Back', cheerup_votes_path %>
