<h1>Listing cheerups</h1>

<table>
  <tr>
    <th>Cheerup</th>
    <th>Cheerpoints</th>
    <th>Vote</th>
    <th>User</th>
    <th>Created</th>
    <th></th>
    <th></th>
  </tr>

<% @cheerups.each do |cheerup| %>
  <tr>
    <td><%= cheerup.characters %></td>
    <td><%= cheerup.cheerpoints %></td>
    <td><%= link_to 'UpVote', cheerup %> | <%= link_to 'DownVote', cheerup %></td>
    <td><%= cheerup.user.email %>(<%=cheerup.user.cheerpoints %>)</td>
    <td><%= "#{time_ago_in_words(cheerup.created_at)} ago "%></td>
    <td><%= link_to 'Show', cheerup %></td>
    <td><%= link_to 'Edit', edit_cheerup_path(cheerup) %></td>
    <td><%= link_to 'Destroy', cheerup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cheerup', new_cheerup_path %>
