<!DOCTYPE html>
<html>
<head>
  <title>TestCheerupsTom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="user_nav">
      <% if current_user %>
        Logged in as <strong><%= current_user.name %></strong>.
        (<%= current_user.total_votes %>)
      <% else %>
        <%= link_to "Sign Up", signup_path %> or
        <%= link_to "Log In", login_path %>
      <% end %>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

    <h1>Cheerups</h1>
    <%= yield %>

  </div>
</body>
</html>
